
.control-panel {
  width: 300px;
  border: 2px solid darkblue;
  height: 96%;
  overflow-y: scroll;
}

.sm-mg {
  margin: 5px;
}

.error-msg {
  color: red;
}

.submit-btn {
  font-size: 1em;
  padding: 4px 8px;
  background-color: #61edfa;
  border-radius: 3px;
  border: 2px solid darkslategray;

}